
/*Background style for the entire page*/
.page-style {
  background-color: navy;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Syle for the clock face*/
#clock-face {
  border: 15px solid white;
  border-radius: 50%;
  height: 40vh;
  width: 50vw;
  transform:  translateY(-3px);
}

.hand {
  position: absolute;
  width: 50vw;
  height: 2px;
  
  border: 2px solid black;
  top: 50%;
  transform-origin: 100%;
  transform: (rotate(90deg));
  transition: 0.0 s;

}

#hour-hand {
  background-color: red;
}

#minute-hand {
  background-color: orange;
}

#second-hand {
  background-color: green;
}




/*Old Material not used*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
