
/*Background style for the entire page*/
.page-style {
  background-color: navy;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Syle for the clock face*/
#clock-face {
  border: 15px solid white;
  border-radius: 50%;
  height: 70vh;
  width: 85vw;
  transform:  translateY(-3px);
}

#digital-time {
  margin-bottom: 5vh;
  color: white;
  font-size: xx-large;
}

.hand {
  position: absolute;
  width: 46%;
  height: 1px;  
  border: 5px solid black;
  top: 50%;
}

#hour-hand {
  background-color: red;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

#minute-hand {
  background-color: orange;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

#second-hand {
  background-color: green;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}




/*Old Material not used*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
